body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {

  /* EXEMPLE D'UTILISATION : 
  l'appel de couleur se fait comme ça
  color : var(--vert-fonce); */

  /* COULEUR SOLIDE */
  --vert-fonce: #0e9577;
  --vert-clair: #04dead;
  --jaune-clair: #f1efb9;
  --citron: #fbfae1;
  --bleu-clair: #bde4f4;
  --bleu-fonce: #404969;
  --texte-titre: #233142;
  --texte: #0f0a3c;
  --noir: #010101;
  --blanc: #faf9f9;

  /* COULEUR OPACITE */
}