*{ margin: 0;padding: 0; }
.pageProduct{
    width: 100%;
    height: 100%;
    background-color: var(--vert-fonce);
    padding: 3%;
}
.pageProduct h1{
    font-family: 'Yellowtail', cursive;
    font-size: 2.5em;
    text-align: center;
    width: 400px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
.containerProduct{
    max-width: 1500px;
    height: auto;
    min-height: 700px;
    margin: 100px auto;
    background-color: var(--bleu-clair);
    border: 2px solid black;
    border-radius: 5px;
}
.containerProduct .search{
    max-width: 500px;
    min-width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--bleu-fonce);
    margin-right: auto;margin-left: auto;
}

/* grid product responsive */
.grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
    
}
.grid-item {
    flex: 0 0 calc(25% - 20px);
    /* flex: 0 0 calc(33.333% - 20px); IMPORTANT*/
    margin: 10px;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
    min-width: 200px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    font-size: 16px;
}