* {margin: 0; padding: 0;}
.pageSignIn{
    width: 100%;
    height: 100vh;
    background-color: var(--bleu-fonce);
    padding-top: 200px;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bleu-clair);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
}
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    margin-top: 5px;
}