*{
    margin: 0; padding: 0;
}
.pageProduits{
    background-color: var(--vert-fonce);
    width: 100%;
    height: 100vh;
    /* display: flex; */
}
.pageProduits h1{
    max-width: 360px;
    min-width: 200px;
    height: auto;
    font-family: 'Yellowtail', cursive;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
     
}
.containerProduits{
    width: 90vw;
    min-height: 800px;
    height: auto;
    margin: 50px auto 0 auto;
    border: 2px solid red;
    border-radius: 6px;
    background-color: var(--bleu-clair);
}
.search{
    display: flex;
    justify-content: center;
    max-width: 600px;
    min-width: 300px;
    height: 30px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--bleu-fonce);
}

/* ----- Tableau de livre ----- */
.grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 95%; /*1200px*/
    margin: 0 auto;
    padding: 10px;/*20px*/
}
.grid-item {
    flex: 0 0 calc(33.333% - 20px);
    margin: 10px;
    min-width: 250px;
    max-width: 300px;
}
.card {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    font-size: 16px;
}